.profile-image{
    background-color: white;
    height: 30rem;
    width: 23rem;
    margin-top: 1.8rem;
    margin-left: 4rem;
    border-radius: 0.5rem;
}

.details-div{
    display: flex;
    
}
.movieTitle{
    color: white;
    margin-left: 3rem;
    margin-top: 3rem;
  
}

.description{
    color: white;
    margin-top: 10rem;
  margin-left: -4rem;
  padding-right: 4rem;
}

.play-trailer{
    height: 3rem;
    margin-top: -60rem;
    margin-left: 29.5rem;
    width: 8rem;
    background-color: rgb(97,207,122);
    border-radius: 0.2rem;
    border: none;

    
}

.btn{
    margin-top: -15rem;
}

.release{
   font-size: 5rem; 
}